.card{
    width: 220px;
    height: 340px;
    display: grid;
    justify-items: center;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
}
img{
    width: 150px;
}

.content{
    display: flex;
    gap: 20px;
}
.nome-produto{
    font-size: 20px;
}