.logo {
    width: 100px;
}

.tr-team td:hover {
    background-color: rgb(163, 194, 239);
    zoom: 1.07;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
footer{
    background-color: rgb(163, 194, 239);
    padding: 15px;
    margin-top: 60px;
    border-top: 4px solid rgb(115, 115, 201);
}

#info{
   display: flex ;
   justify-content: space-evenly;
   margin: 0px;
   padding: 10px;
}