.logo {
    width: 100px;
}

.tr-team td:hover {
    background-color: rgb(163, 194, 239);
    zoom: 1.07;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}


#ok{
    display: flex;
}