.more-button{
    text-decoration: none;
    border: none;
    background-color: lightseagreen;
    padding: 10px;
    font-size: 20px;
    width: 160px;
    border-radius: 5px;
}
.more-button:hover{
    background-color: lightblue;
    cursor: pointer;
    transition: 0.3s;
}

#content{
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;       
    justify-content: center;  
}
