.logo {
    width: 100px;
}

h5{
    display: flex;
    justify-content: center;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

h5:hover{
    background-color: rgb(163, 194, 239);
    cursor: pointer;
}

footer{
    background-color: rgb(163, 194, 239);
    padding: 15px;
    margin-top: 60px;
    border-top: 4px solid rgb(115, 115, 201);
}

#info{
   display: flex ;
   justify-content: space-evenly;
   margin: 0px;
   padding: 10px;
}

a{
    text-decoration: none;
    color: blue;
}
